body
{
    background-color:#323232;
    color:gray;
    /*font-family:'Segoe UI';*/
    font-family:Roboto Condensed;
}
h1, h4
{
    color:cadetblue;
}
h2
{
    color:lightseagreen;
    font-size:18pt;
}
h3
{
    color:lightgray;
    font-size:16pt;
}
h4
{
    text-align:right;
    font-size:14pt;
}
p
{
    text-align:justify;
    font-size:14pt;
    font-family:Roboto;
}
ol
{
    list-style-type: upper-decimal;
    font-size: 16pt;
    color: aliceblue;
}
ul
{
    font-size:14pt;
}
.nesting-lvl-1
{
    list-style-type:circle;
}
.nesting-lvl-2
{
    list-style-type:"- ";
}
figure
{
    text-align:center;
    font-style:italic;
    color:aquamarine;
}
a
{
    color:aliceblue;
}
a:hover, a:hover:visited
{
    color:forestgreen;
}
a:visited
{
    color:greenyellow;
}
object
{
    font-style:italic;
    font-size:16pt;
    color:darkgray;
}