body
{
}

input, button
{
    font-size: 30px;
}

input
{
    width: 300px;
}

body
{
    text-align: center;
}

#header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#delay
{
    width:55px;
    height:25px;
}
#switchBackground
{
    width: 32px;
    height: 32px;
    margin: 24px;
    transition:3s;
    background-size:32px 32px;

    /*transition: 3s;*/
}

img[src='img/sun.png']
{
    filter: brightness(0) invert(1);
}

.light
{
    background: #D8D8D8;
    color: #323232
}

    .light #switchBackground
    {
        background-image: url("img/moon.png");
        /*content: url('img/moon.png');*/
    }

.dark
{
    background: #323232;
    color: #D8D8D8;
}

    .dark #switchBackground
    {
        background-image: url("img/sun.png");
        /*content: url('img/sun.png');*/
        filter: brightness(0) invert(1);
    }
