@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body
{
    font-family: Roboto;
    background-image: linear-gradient(to right, lightsteelblue, lightcyan);
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:10px;
}
h1
{
    text-align:center;
    margin-bottom:10px;
}
main
{
    width:100%;
    max-width:350px;
}
form
{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: lightsteelblue;
    padding: 25px;
    border-radius: 10px;
}
div
{
    display:flex;
    flex-direction:column;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="file"],
textarea
{
    padding: 5px;
    border: 1px solid #6495ed;
    border-radius: 5px;
}
input[type="submit"]
{
    padding: 10px;
    background-color: dodgerblue;
    color:white;
    border:none;
    border-radius:4px;
    cursor:pointer;
    align-self:center;
}
input[type="submit"]:hover
{
    background-color: cornflowerblue;
}
input:invalid
{
    border-color: lightsteelblue;
}
iframe
{
    padding: 4px;
    border: 1px solid #6495ed;
    border-radius: 4px;
    background-color:white;
}
small
{
    color:lightcyan;
}

